<div class="flex-md-grow-1 flex">
  <div class="d-flex flex-row">

    <div class="col" style="padding-right: 15px">
      <input [(ngModel)]="filterByTitle" class="form-control" placeholder="Type to filter by title . . ."></div>

    <div class="col">
      <input [(ngModel)]="filterByDescription" class="form-control" placeholder="Type to filter by description . . .">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-2"
         *ngFor="let item of itemList | itemFilterByTitle: filterByTitle | itemFilterByDescription: filterByDescription;">
      <div class="card text-center">
        <img class="card-img-top" height="140" [src]="item.url"/>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text text-muted">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
