/*
!* You can add global styles to this file, and also import other style files *!



.card-body {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}
.card {
  margin: 5px 5px;
}
.card-title {
  font-size: x-small;
}
.text-muted{
  font-size: x-small;
}
.col-md-2 {
  min-width: 150px !important;
  max-width: 290px;

}
.card-img-top{
  height: 120px;
}
.flex {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

.flex1{
  margin: auto;
}

@media screen and (max-width: 380px) {
.text-center {
  display: flex;
}
  .card-img-top{
    height: 200px;
  }
.flex1{
  font-size: x-small;
}

footer p .text-muted{
  display: none;
}

  }

@media screen and (min-width: 768px) {

  .card-img-top{
    display: flex;
  }
  .col-md-2{
    width: 150px;
    padding: 0;

  }
.mb-md-0{
  display: flex;

}

header h1{
  font-size: 14px !important;
}


}
@media screen and (max-width: 320px) {

  .card-img-top{
    display: flex;

  }
.col-md-2{
  width: 250px;
}
  .mb-md-0 {
    display: flex;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .text-end{
    display: inline-block;
    position: absolute;
    left: 18%;
    top: 450px;

  }

  .text-end button{
    font-size: 14px;
  }
}
*/



header {
  background-color: #2f79c3;
  color: white;
  display: flex;
  font-size: 20px;
  height: 80px;
}

.fa-home, .fa-image, .fa-cog, .fa-chart-pie {
  color: #3d8cdb;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-list .list-item {
  display: inline-block;
  padding: 10px 10px;
}

.list-item span {
  font-size: 14px;
  text-align: justify;
}

.heading {
  margin-left: 25px;

}

nav {

  float: left;
  width: 15%;
  background: rgba(181, 208, 231, 0.5);
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}


nav ul li {
  padding: 20px;
}

nav ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

nav ul li a .fas {
  width: 35px;

}

nav ul li:hover {
  background: rgba(181, 208, 231, 0.7);
  border-left: 7px solid rgb(83, 150, 208);
  box-sizing: border-box;
  padding-left: 13px;

}


article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #ffffff;

}


.col-md-2 {
  height: 280px;
  width: 225px;
  margin: auto;
}

.card-img-top {
  height: 170px;
}

nav {
  height: 860px !important;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
  }

  section nav {
    height: 260px !important;
  }
}

@media (min-width: 600px) and (max-width: 1133px) {
  nav, article {
    width: 100%;
  }

  section nav {
    height: 260px !important;
  }
}

@media (min-width: 1133px) and (max-width: 1200px) {
  section nav {
    width: 15%;
    height: 800px !important;
  }

  article {
    width: 85%;
  }

  nav ul li a {
    font-size: 14px;
  }
}


@media (max-width: 320px) {
  .heading {
    font-size: 16px !important;
    display: flex;
    margin-left: 77px;
  }

  .navbar .nav-list {
    font-size: 16px !important;
    display: flex;
    margin-left: 25px;
  }


  input[placeholder] {
    font-size: 10px;
  }

  nav {
    height: 275px !important;
  }

}

@media ( min-width: 320px ) and (max-width: 460px) {
  .heading {
    font-size: 16px !important;
    display: block;
    margin-left: 120px;
  }

  .navbar .nav-list {
    font-size: 16px !important;
    display: block;
    margin-left: 70px;
  }


  nav {
    height: 224px !important;
    text-align: center;
    margin: auto;

  }

  input[placeholder] {
    font-size: 12px;
  }

  .col-md-2 {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .col-md-2 {
    height: 270px;
    width: 180px;
  }

  .card-img-top {
    height: 150px;
  }

  .text-center {
    width: 160px;
  }

  .card-title, .text-muted {
    font-size: 13px;

  }

  nav {
    height: 277px !important;
  }
}


@media ( max-width: 376px ) {
  .col-md-2 {
    height: 290px;
    max-width: 280px;
  }

  .card-img-top {
    height: 180px;
  }

  .text-center {
    max-width: 280px;
  }

  .card-title, .text-muted {
    font-size: 11px;

  }

  nav {
    height: 277px !important;
  }

  nav {
    width: 100%;
  }
}
